In [1]:
import pandas as pd
pd.set_option('display.max_columns',100)

## Import Datasets

In [10]:
#demographics
demo = pd.read_excel('../data/Telco_customer_churn_demographics.xlsx')
demo = demo.set_index('Customer ID')
#customer churn 
churn = pd.read_excel('../data/Telco_customer_churn.xlsx')
churn = churn.set_index('CustomerID')
#services provided
service = pd.read_excel('../data/Telco_customer_churn_services.xlsx')
service = service.set_index('Customer ID')
#status of customer
status = pd.read_excel('../data/Telco_customer_churn_status.xlsx')
status = status.set_index('Customer ID')
# population
pop = pd.read_excel('../data/Telco_customer_churn_population.xlsx')

In [13]:
demo.head(1)

,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
Customer ID,,,,,,,,
8779-QRDMV,1,Male,78,No,Yes,No,No,0

In [14]:
churn.head(1)

,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
CustomerID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer

In [15]:
service.head(1)

,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,Internet Service,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
Customer ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8779-QRDMV,1,Q3,No,0,1,None,No,0.0,No,Yes,DSL,8,No,No,Yes,No,No,Yes,No,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.0,20,0.0,59.65

In [16]:
status.head(1)

,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
Customer ID,,,,,,,,,,
8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data

In [12]:
pop.head(1)

   ID  Zip Code  Population
0   1     90001       54492

In [22]:
df = pd.concat([demo,churn,service,status],axis=1).reset_index()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 80 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              7043 non-null   object
 1   Count                              7043 non-null   int64
 2   Gender                             7043 non-null   object
 3   Age                                7043 non-null   int64
 4   Under 30                           7043 non-null   object
 5   Senior Citizen                     7043 non-null   object
 6   Married                            7043 non-null   object
 7   Dependents                         7043 non-null   object
 8   Number of Dependents               7043 non-null   int64
 9   Count                              7043 non-null   int64
 10  Country                            7043 non-null   object
 11  State                              7043 non-null   object
 12  City                               7043 non-null   object
 13  Zip Code                           7043 non-null   int64
 14  Lat Long                           7043 non-null   object
 15  Latitude                           7043 non-null   float64
 16  Longitude                          7043 non-null   float64
 17  Gender                             7043 non-null   object
 18  Senior Citizen                     7043 non-null   object
 19  Partner                            7043 non-null   object
 20  Dependents                         7043 non-null   object
 21  Tenure Months                      7043 non-null   int64
 22  Phone Service                      7043 non-null   object
 23  Multiple Lines                     7043 non-null   object
 24  Internet Service                   7043 non-null   object
 25  Online Security                    7043 non-null   object
 26  Online Backup                      7043 non-null   object
 27  Device Protection                  7043 non-null   object
 28  Tech Support                       7043 non-null   object
 29  Streaming TV                       7043 non-null   object
 30  Streaming Movies                   7043 non-null   object
 31  Contract                           7043 non-null   object
 32  Paperless Billing                  7043 non-null   object
 33  Payment Method                     7043 non-null   object
 34  Monthly Charges                    7043 non-null   float64
 35  Total Charges                      7043 non-null   object
 36  Churn Label                        7043 non-null   object
 37  Churn Value                        7043 non-null   int64
 38  Churn Score                        7043 non-null   int64
 39  CLTV                               7043 non-null   int64
 40  Churn Reason                       1869 non-null   object
 41  Count                              7043 non-null   int64
 42  Quarter                            7043 non-null   object
 43  Referred a Friend                  7043 non-null   object
 44  Number of Referrals                7043 non-null   int64
 45  Tenure in Months                   7043 non-null   int64
 46  Offer                              7043 non-null   object
 47  Phone Service                      7043 non-null   object
 48  Avg Monthly Long Distance Charges  7043 non-null   float64
 49  Multiple Lines                     7043 non-null   object
 50  Internet Service                   7043 non-null   object
 51  Internet Type                      7043 non-null   object
 52  Avg Monthly GB Download            7043 non-null   int64
 53  Online Security                    7043 non-null   object
 54  Online Backup                      7043 non-null   object
 55  Device Protection Plan             7043 non-null   object
 56  Premium Tech Support               7043 non-null   object
 57  Streaming TV                       7043 non-null   object
 58  Streaming Movies                   7043 non-null   object
 59  Streaming Music                    7043 non-null   object
 60  Unlimited Data                     7043 non-null   object
 61  Contract                           7043 non-null   object
 62  Paperless Billing                  7043 non-null   object
 63  Payment Method                     7043 non-null   object
 64  Monthly Charge                     7043 non-null   float64
 65  Total Charges                      7043 non-null   float64
 66  Total Refunds                      7043 non-null   float64
 67  Total Extra Data Charges           7043 non-null   int64
 68  Total Long Distance Charges        7043 non-null   float64
 69  Total Revenue                      7043 non-null   float64
 70  Count                              7043 non-null   int64
 71  Quarter                            7043 non-null   object
 72  Satisfaction Score                 7043 non-null   int64
 73  Customer Status                    7043 non-null   object
 74  Churn Label                        7043 non-null   object
 75  Churn Value                        7043 non-null   int64
 76  Churn Score                        7043 non-null   int64
 77  CLTV                               7043 non-null   int64
 78  Churn Category                     1869 non-null   object
 79  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(19), object(52)
memory usage: 4.3+ MB

In [28]:
#flip duplicate boolean and keep the first
df = df.loc[:,~df.columns.duplicated()]

df.columns = df.columns.str.lower().str.replace(' ','_')
df.columns

Index(['index', 'count', 'gender', 'age', 'under_30', 'senior_citizen',
       'married', 'dependents', 'number_of_dependents', 'country', 'state',
       'city', 'zip_code', 'lat_long', 'latitude', 'longitude', 'partner',
       'tenure_months', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn_label',
       'churn_value', 'churn_score', 'cltv', 'churn_reason', 'quarter',
       'referred_a_friend', 'number_of_referrals', 'tenure_in_months', 'offer',
       'avg_monthly_long_distance_charges', 'internet_type',
       'avg_monthly_gb_download', 'device_protection_plan',
       'premium_tech_support', 'streaming_music', 'unlimited_data',
       'monthly_charge', 'total_refunds', 'total_extra_data_charges',
       'total_long_distance_charges', 'total_revenue', 'satisfaction_score',
       'customer_status', 'churn_category'],
      dtype='object')

In [29]:
df.head()

,index,count,gender,age,under_30,senior_citizen,married,dependents,number_of_dependents,country,state,city,zip_code,lat_long,latitude,longitude,partner,tenure_months,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn_label,churn_value,churn_score,cltv,churn_reason,quarter,referred_a_friend,number_of_referrals,tenure_in_months,offer,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,device_protection_plan,premium_tech_support,streaming_music,unlimited_data,monthly_charge,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,satisfaction_score,customer_status,churn_category
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65,Yes,1,100,5433,Competitor offered more data,Q3,No,0,1,None,0.00,DSL,8,Yes,No,No,No,39.65,0.00,20,0.00,59.65,3,Churned,Competitor
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237,Yes,8,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),80.65,633.3,Yes,1,69,5302,Competitor made better offer,Q3,Yes,1,8,Offer E,48.85,Fiber Optic,17,No,No,No,Yes,80.65,0.00,0,390.80,1024.10,3,Churned,Competitor
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3,United States,California,Los Angeles,90065,"34.108833, -118.229715",34.108833,-118.229715,No,18,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.45,1752.55,Yes,1,81,3179,Competitor made better offer,Q3,No,0,18,Offer D,11.33,Fiber Optic,52,No,No,Yes,Yes,95.45,45.61,0,203.94,1910.88,2,Churned,Competitor
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1,United States,California,Inglewood,90303,"33.936291, -118.332639",33.936291,-118.332639,Yes,25,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.50,2514.5,Yes,1,88,5337,Limited range of services,Q3,Yes,1,25,Offer C,19.76,Fiber Optic,12,Yes,No,No,Yes,98.50,13.43,0,494.00,2995.07,2,Churned,Dissatisfaction
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1,United States,California,Whittier,90602,"33.972119, -118.020188",33.972119,-118.020188,Yes,37,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.50,2868.15,Yes,1,67,2793,Extra data charges,Q3,Yes,1,37,Offer C,6.33,Fiber Optic,14,No,No,No,Yes,76.50,0.00,0,234.21,3102.36,2,Churned,Price

In [31]:
#adding population count
pop = pop.rename(columns={'Zip Code':'zip_code', 'Population':'population'}).drop(columns=['ID'])

In [34]:
df = pd.merge(df, pop, on='zip_code')

In [35]:
df.shape

(7043, 58)

## Export Dataset

In [41]:
df.to_csv('../data/telco_churn_data',index=False)