# Problem Statement


telco data, expected churn rate

classification on retention, clustering of customer behaviour

customer retention program  and the focus

# Background

Attrition model

innovation reshaping communication

# Data Import

In [1]:
#import library
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#import LR 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
#read csv
telco_final = pd.read_csv('../data/telco_final.csv')

#set display max 100
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',100)

In [3]:
telco_final.head()

,gender,age,under_30,senior_citizen,married,dependents,number_of_dependents,city,zip_code,latitude,longitude,tenure_months,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,churn_value,churn_score,cltv,churn_reason,referred_a_friend,number_of_referrals,tenure_in_months,offer,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,streaming_music,unlimited_data,monthly_charge,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,satisfaction_score,customer_status,churn_category,pop_density,new_user
0,0,78,0,1,0,0,0,Los Angeles,90022,34.023810,-118.156582,1,0,0,DSL,0,0,1,0,0,1,1,1,Electronic check,1,100,5433,Competitor offered more data,0,0,1,None,0.00,DSL,8,0,0,39.65,39.65,0.00,20,0.00,59.65,3,1,Competitor,15334,0
1,1,74,0,1,1,1,1,Los Angeles,90063,34.044271,-118.185237,8,1,1,Fiber optic,0,1,0,0,0,0,1,1,Credit card (automatic),1,69,5302,Competitor made better offer,1,1,8,Offer E,48.85,Fiber Optic,17,0,1,80.65,633.30,0.00,0,390.80,1024.10,3,1,Competitor,17038,0
2,0,71,0,1,0,1,3,Los Angeles,90065,34.108833,-118.229715,18,1,1,Fiber optic,0,0,0,0,1,1,1,1,Electronic check,1,81,3179,Competitor made better offer,0,0,18,Offer D,11.33,Fiber Optic,52,1,1,95.45,1752.55,45.61,0,203.94,1910.88,2,1,Competitor,8625,0
3,1,78,0,1,1,1,1,Inglewood,90303,33.936291,-118.332639,25,1,0,Fiber optic,0,1,1,0,1,1,1,1,Electronic check,1,88,5337,Limited range of services,1,1,25,Offer C,19.76,Fiber Optic,12,0,1,98.50,2514.50,13.43,0,494.00,2995.07,2,1,Dissatisfaction,11799,0
4,1,80,0,1,1,1,1,Whittier,90602,33.972119,-118.020188,37,1,1,Fiber optic,0,0,0,0,0,0,1,1,Electronic check,1,67,2793,Extra data charges,1,1,37,Offer C,6.33,Fiber Optic,14,0,1,76.50,2868.15,0.00,0,234.21,3102.36,2,1,Price,6947,0

In [4]:
#dro churn customer 
telco_stay = telco_final[telco_final.customer_status == 0]
telco_churn = telco_final[telco_final.customer_status == 1]

In [5]:
telco_stay.city.value_counts().value_counts()

3      380
4      315
2      190
5       51
1       44
6       20
7       20
8       19
9       15
10       8
12       8
11       7
16       6
13       4
20       4
18       3
14       3
17       2
21       2
23       2
45       1
100      1
83       1
82       1
73       1
48       1
19       1
39       1
37       1
32       1
27       1
25       1
24       1
215      1
Name: city, dtype: int64

In [6]:
telco_churn.city.value_counts().value_counts()

1     406
2     249
3      91
4      42
5      14
6       9
7       3
8       3
9       3
12      2
13      2
26      1
50      1
31      1
29      1
11      1
16      1
15      1
10      1
90      1
Name: city, dtype: int64

In [7]:
telco_stay.columns

Index(['gender', 'age', 'under_30', 'senior_citizen', 'married', 'dependents',
       'number_of_dependents', 'city', 'zip_code', 'latitude', 'longitude',
       'tenure_months', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'churn_value', 'churn_score', 'cltv', 'churn_reason',
       'referred_a_friend', 'number_of_referrals', 'tenure_in_months', 'offer',
       'avg_monthly_long_distance_charges', 'internet_type',
       'avg_monthly_gb_download', 'streaming_music', 'unlimited_data',
       'monthly_charge', 'total_charges', 'total_refunds',
       'total_extra_data_charges', 'total_long_distance_charges',
       'total_revenue', 'satisfaction_score', 'customer_status',
       'churn_category', 'pop_density', 'new_user'],
      dtype='object')

# Total Revenue Breakdown

In [8]:
telco_stay_cont = telco_stay.copy()

In [9]:
telco_stay_cont.head()

,gender,age,under_30,senior_citizen,married,dependents,number_of_dependents,city,zip_code,latitude,longitude,tenure_months,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,churn_value,churn_score,cltv,churn_reason,referred_a_friend,number_of_referrals,tenure_in_months,offer,avg_monthly_long_distance_charges,internet_type,avg_monthly_gb_download,streaming_music,unlimited_data,monthly_charge,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue,satisfaction_score,customer_status,churn_category,pop_density,new_user
476,1,69,0,1,1,0,0,Los Angeles,90033,34.050198,-118.210946,71,1,1,Fiber optic,1,1,1,1,0,0,24,1,Credit card (automatic),0,38,5309,NaN,1,3,71,None,47.02,Fiber Optic,12,0,1,96.35,6766.95,0.0,0,3338.42,10105.37,4,0,NaN,14954,0
477,0,79,0,1,1,0,0,Los Angeles,90034,34.030578,-118.399613,2,1,0,Fiber optic,0,0,1,0,1,1,1,1,Credit card (automatic),0,69,4449,NaN,1,10,2,Offer E,33.10,Fiber Optic,11,0,0,95.50,181.65,0.0,10,66.20,257.85,5,0,NaN,18621,1
478,0,71,0,1,0,0,0,Los Angeles,90037,34.002642,-118.287596,1,1,0,DSL,0,0,0,0,0,0,1,0,Bank transfer (automatic),0,40,3144,NaN,0,0,1,Offer E,11.89,DSL,12,0,1,45.25,45.25,0.0,0,11.89,57.14,3,0,NaN,21941,1
479,1,65,0,1,0,0,0,Los Angeles,90059,33.927254,-118.249826,43,1,1,Fiber optic,0,1,0,0,1,0,1,1,Electronic check,0,52,2223,NaN,0,0,43,Offer B,12.58,Fiber Optic,26,0,1,90.25,3838.75,0.0,0,540.94,4379.69,4,0,NaN,12359,0
480,1,65,0,1,1,0,0,Los Angeles,90062,34.003553,-118.308933,25,1,1,DSL,1,0,0,1,1,0,1,1,Credit card (automatic),0,25,3154,NaN,1,9,25,None,30.60,DSL,2,0,1,69.50,1752.65,0.0,0,765.00,2517.65,4,0,NaN,16973,0

In [10]:
telco_stay_cont = telco_stay_cont.drop(columns=['city', 'zip_code', 'latitude', 'longitude','churn_value', 
                                                'churn_score','churn_reason','tenure_months', 
                                                'avg_monthly_long_distance_charges',
                                                'avg_monthly_gb_download','churn_category','customer_status',
                                                'satisfaction_score', 'cltv'])

## OHE internetservice, payment_method, offer, internettype

In [11]:
#ohe above
ts_dummies = pd.get_dummies(data=telco_stay_cont, drop_first=True)

## Linear Regression  predict total revenue

In [12]:
#shape check 5174 row x 44 cols
ts_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5174 entries, 476 to 7042
Data columns (total 43 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   gender                                  5174 non-null   int64
 1   age                                     5174 non-null   int64
 2   under_30                                5174 non-null   int64
 3   senior_citizen                          5174 non-null   int64
 4   married                                 5174 non-null   int64
 5   dependents                              5174 non-null   int64
 6   number_of_dependents                    5174 non-null   int64
 7   phone_service                           5174 non-null   int64
 8   multiple_lines                          5174 non-null   int64
 9   online_security                         5174 non-null   int64
 10  online_backup                           5174 non-null   int64
 11  device_protection                       5174 non-null   int64
 12  tech_support                            5174 non-null   int64
 13  streaming_tv                            5174 non-null   int64
 14  streaming_movies                        5174 non-null   int64
 15  contract                                5174 non-null   int64
 16  paperless_billing                       5174 non-null   int64
 17  referred_a_friend                       5174 non-null   int64
 18  number_of_referrals                     5174 non-null   int64
 19  tenure_in_months                        5174 non-null   int64
 20  streaming_music                         5174 non-null   int64
 21  unlimited_data                          5174 non-null   int64
 22  monthly_charge                          5174 non-null   float64
 23  total_charges                           5174 non-null   float64
 24  total_refunds                           5174 non-null   float64
 25  total_extra_data_charges                5174 non-null   int64
 26  total_long_distance_charges             5174 non-null   float64
 27  total_revenue                           5174 non-null   float64
 28  pop_density                             5174 non-null   int64
 29  new_user                                5174 non-null   int64
 30  internet_service_Fiber optic            5174 non-null   uint8
 31  internet_service_No                     5174 non-null   uint8
 32  payment_method_Credit card (automatic)  5174 non-null   uint8
 33  payment_method_Electronic check         5174 non-null   uint8
 34  payment_method_Mailed check             5174 non-null   uint8
 35  offer_Offer A                           5174 non-null   uint8
 36  offer_Offer B                           5174 non-null   uint8
 37  offer_Offer C                           5174 non-null   uint8
 38  offer_Offer D                           5174 non-null   uint8
 39  offer_Offer E                           5174 non-null   uint8
 40  internet_type_DSL                       5174 non-null   uint8
 41  internet_type_Fiber Optic               5174 non-null   uint8
 42  internet_type_None                      5174 non-null   uint8
dtypes: float64(5), int64(25), uint8(13)
memory usage: 1.3 MB

In [31]:
#define X and y 
X = ts_dummies.drop(columns='total_revenue')
y = ts_dummies.total_revenue

In [32]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

In [33]:
#instantiate LR
lr = LinearRegression()
lr.fit(X_train, y_train)
print(f'LR Train Score: {lr.score(X_train, y_train)}')
print(f'LR Test Score: {lr.score(X_test, y_test)}')

LR Train Score: 1.0
LR Test Score: 1.0

In [36]:
coefs = pd.Series(data=lr.coef_, index=X_train.columns).round()
coefs = coefs[coefs!=0]
coefs

total_charges                  1.0
total_refunds                 -1.0
total_extra_data_charges       1.0
total_long_distance_charges    1.0
dtype: float64

In [23]:
telco_final['total_revenue_compare'] = telco_final['total_charges'] + telco_final['total_long_distance_charges'] + telco_final['total_extra_data_charges'] - telco_final['total_refunds']

In [24]:
telco_final[['total_charges', 'total_revenue', 'total_revenue_compare']].head(10)

   total_charges  total_revenue  total_revenue_compare
0          39.65          59.65                  59.65
1         633.30        1024.10                1024.10
2        1752.55        1910.88                1910.88
3        2514.50        2995.07                2995.07
4        2868.15        3102.36                3102.36
5        2135.50        2235.41                2235.41
6          70.45          85.73                  85.73
7        2651.20        2610.25                2610.25
8        1145.70        1806.75                1806.75
9         503.60         681.20                 681.20

In [37]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(telco_final.total_revenue, telco_final.total_revenue_compare).round()

0.0

# Total Charges Breakdown

In [26]:
#define X and y 
X = ts_dummies.drop(columns=['total_revenue','total_charges'])
y = ts_dummies.total_revenue

In [27]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

In [28]:
#instantiate LR
lr2 = LinearRegression()
lr2.fit(X_train, y_train)
print(f'LR Train Score: {lr2.score(X_train, y_train)}')
print(f'LR Test Score: {lr2.score(X_test, y_test)}')

LR Train Score: 0.9521631269291251
LR Test Score: 0.9446313861635804

In [29]:
coefs = pd.Series(data=lr2.coef_, index=X_train.columns).astype(int)
coefs = coefs[coefs!=0]
coefs.sort_values()

offer_Offer C                            -193
streaming_music                          -117
dependents                                -87
payment_method_Electronic check           -84
offer_Offer B                             -61
married                                   -54
under_30                                  -46
phone_service                             -27
number_of_referrals                        -7
contract                                   -6
total_refunds                              -3
age                                        -1
total_long_distance_charges                 1
total_extra_data_charges                    3
gender                                      4
senior_citizen                             23
paperless_billing                          23
number_of_dependents                       32
monthly_charge                             34
internet_type_DSL                          53
payment_method_Credit card (automatic)     55
tenure_in_months                           55
offer_Offer D                              62
offer_Offer E                             108
referred_a_friend                         113
multiple_lines                            119
internet_type_Fiber Optic                 150
internet_service_Fiber optic              150
unlimited_data                            186
payment_method_Mailed check               192
streaming_tv                              205
offer_Offer A                             224
tech_support                              231
online_security                           236
device_protection                         246
online_backup                             296
streaming_movies                          324
internet_service_No                       409
internet_type_None                        409
new_user                                  478
dtype: int64

for customer segmentation